/* Stile generale del corpo */
body {
    background-color: #000000; /* Stesso colore della home page */
    color: white; /* Stesso colore della home page */
    font-family: 'Arial', sans-serif;
}

/* Navbar */
.navbar {
    border-bottom: 1px solid #0000;
    background-color: #000000;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 1%;
    -ms-flex-align: center;
    align-items: center;
}

.logo-navbar {
    width: 40%; /* Dimensione del logo */
}

.nav-link {
    color: #d3d3d3;
}

.nav-link:hover {
    color: #d3d3d3;
    background-color: #0000; /* Effetto hover */
}

.navbar-toggler {
    border: none; /* Rimuove il bordo del toggle */
}

.navbar-nav {
    padding: 1%; /* Spaziatura tra gli elementi della navbar */
    padding-left: 3%;
}

/* Carousel */
.carousel-inner img {
    max-height: 400px; /* Altezza massima per le immagini del carousel */
}

/* Sezione di contatto */
#conteiner-body {
    background-color: #1a1a1a; /* Sfondo grigio scuro per il contenitore */
    border-radius: 10px; /* Angoli arrotondati */
    padding: 20px; /* Spaziatura interna */
    max-width: 50%;
}

h3 {
    color: #d3d3d3; /* Colore del testo dei titoli */
}

p {
    color: lightgray; /* Colore del testo dei paragrafi */
}

/* Stile dei pulsanti */
.btn {
    background-color: #d3d3d3; /* Colore scuro per i pulsanti */
    color: #444;
}

.btn:hover {
    background-color: #333; /* Effetto hover per i pulsanti */
}

/* Stile del modulo di contatto */
.form-control {
    background-color: #333; /* Sfondo scuro per i campi di input */
    color: #d3d3d3; /* Colore del testo nei campi di input */
    border: 1px solid #444; /* Bordo scuro */
}

.form-control::placeholder {
    color: lightgray; /* Colore del testo di placeholder */
}

/* Footer */
footer {
    background-color: black;
    color: white;
}

footer h4 {
    color: #ffffff; /* colore del testo del footer */
}

footer a {
    color: #bdbdbd;
}

footer a:hover {
    color: white; /* effetto hover sui link del footer */
}

footer .container {
    padding-top: 20px;
}

footer ul {
    list-style-type: none; /* rimuovere i punti elenco */
    padding: 0;
}

footer .navbar-brand img {
    max-width: 100px; /* dimensione massima del logo nel footer */
}

footer .text-center {
    padding: 10px; /* spaziatura */
}

#logo_footer {
    width: 85%
}

/* Stile dell'iframe Google Maps */
.ui-content iframe {
    border: none; /* Rimuove il bordo dell'iframe */
}

/* Stile del copyright */
.text-center {
    color: lightgray; /* Colore del testo al centro */
}
