body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../image/bg-login-register.jpg');
    background-size: cover; /* Adatta l'immagine alle dimensioni della finestra */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.register-link {
    margin-top: 10px;
}
.register-link a {
    color: #4CAF50;
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;
}