/* Stile generale del corpo */
body {
    background-color: #000000;
    color: #000000; /* colore primario del testo */
    font-family: 'Arial', sans-serif;
}

/* Navbar */
.navbar {
    border-bottom: 1px solid #0000;
    background-color: #000000;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 1%;
    -ms-flex-align: center;
    align-items: center;
}

.logo-navbar {
    width: 40%; /* Dimensione del logo */
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
    background-color: #0000; /* Effetto hover */
}

.navbar-toggler {
    border: none; /* Rimuove il bordo del toggle */
}

.navbar-nav {
    padding: 1%; /* Spaziatura tra gli elementi della navbar */
    padding-left: 3%;
}


/* Carousel */
.carousel-inner img {
    max-height: 400px; /* altezza massima per le immagini del carosello */
}

/* Info Cards */
.card {
    border-radius: 10px; /* bordo arrotondato */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* ombra leggera */
    background-color: #1a1a1a;
    color: #d3d3d3;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; /* arrotondare solo gli angoli superiori */
}

.card-body {
    text-align: center; /* centrare il testo */
}

.card .btn {
    background-color: #0000;
    color: #d3d3d3;
}

.card .btn:hover {
    background-color: #0000; /* colore più scuro per il hover */
}


/*Story*/
#story {
    background-color: #1a1a1a; /* colore più scuro per il hover */
    border-radius: 10px; /* bordo arrotondato */
    color: #d3d3d3;
}
/*Griglia Brand*/
.grid-cell {
    padding: 20px; /* spazio interno */
    border: 1px solid #ffffff; /* bordo per la griglia */
    transition: background-color 0.3s; /* transizione fluida */
}

.grid-cell img {
    max-width: 100px; /* dimensione massima delle immagini */
}

.grid-cell:hover {
    background-color: rgba(49, 48, 46, 0.2); /* effetto hover che scurisce la cella */
    cursor: pointer; /* indicatore di click */
}

/* Colonne divisorie per la griglia */

.row .col-sm-4 {
    border-right: 1px solid #ffffff; /* bordo verticale */
    border-top: none;
    border-left: none;
}

/* Rimuovere il bordo a destra per l'ultima colonna di ogni riga */
.row .col-sm-4:last-child {
    border-right: none; 
}

/* Rimuovere il bordo inferiore per l'ultima riga */
.row:last-child {
    border-top: none;
}

#riga2 .col-sm-4.text-center.grid-cell {
    border-bottom: none;
}

/* Footer */
footer {
    background-color: black;
    color: white;
}

footer h4 {
    color: #ffffff; /* colore del testo del footer */
}

footer a {
    color: #bdbdbd;
}

footer a:hover {
    color: white; /* effetto hover sui link del footer */
}

footer .container {
    padding-top: 20px;
}

footer ul {
    list-style-type: none; /* rimuovere i punti elenco */
    padding: 0;
}

footer .navbar-brand img {
    max-width: 100px; /* dimensione massima del logo nel footer */
}

footer .text-center {
    padding: 10px; /* spaziatura */
}

#logo_footer {
    width: 85%
}

/* Carrello Popup */
.modal-content {
    border-radius: 10px; /* arrotondare il bordo del popup */
}

.modal-header {
    background-color: #000000;
    color: white;
}

.modal-header .close {
    color: white; /* colore del bottone di chiusura */
}

.modal-footer {
    background-color: #f5f5f5; /* colore di sfondo del footer del popup */
}

.modal-footer .btn {
    background-color: #000000; 
    color: white; 
}

.modal-footer .btn:hover {
    background-color: #000000;
}


/* Stile dell'iframe Google Maps */
.ui-content iframe {
    border: none; /* Rimuove il bordo dell'iframe */
}

/* Stile del copyright */
.text-center {
    color: lightgray; /* Colore del testo al centro */
}
